<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky d-flex flex-column h-100">
        <h2>SentinelView</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-dark {{ 'active' if request.endpoint == 'routes.home' else '' }}"
                   href="{{ url_for('routes.home') }}">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark {{ 'active' if request.endpoint == 'routes.browse_events' else '' }}"
                   href="{{ url_for('routes.browse_events') }}">
                    <i class="fas fa-folder-open"></i> Browse Events
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark {{ 'active' if request.endpoint == 'routes.live_feed' else '' }}"
                   href="{{ url_for('routes.live_feed') }}">
                    <i class="fas fa-video"></i> Live Feed
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark {{ 'active' if request.endpoint == 'routes.profile' else '' }}"
                   href="{{ url_for('routes.profile') }}">
                    <i class="fas fa-cog"></i> Settings
                </a>
            </li>
        </ul>
        <div class="mt-auto pt-3 user-section">
            {% if session.get('user') %}
                <div class="media d-flex align-items-center">
                    <img class="mr-3 rounded-circle" src="{{ session['user']['profile_photo'] }}" alt="Profile Photo"
                         width="50" height="50">
                    <div class="media-body">
                        <h5 class="mt-0">{{ session['user']['username'] }}</h5>
                        <a href="{{ url_for('routes.profile') }}" class="nav-link p-0">Profile</a>
                    </div>
                </div>
            {% else %}
                <div class="mt-4">
                    <a class="nav-link btn btn-primary mb-2" href="{{ url_for('routes.login') }}">Login</a>
                    <a class="nav-link btn btn-secondary" href="{{ url_for('routes.register') }}">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
